[Unit]
Description=Ball's distributed currency daemon
After=network.target

[Service]
User=ballcore
Group=ballcore

Type=forking
PIDFile=/var/lib/balld/balld.pid
ExecStart=/usr/bin/balld -daemon -pid=/var/lib/balld/balld.pid \
-conf=/etc/ballcore/ball.conf -datadir=/var/lib/balld -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
